<launch>
	<!-- Reference Human robot interaction distance -->		
	<param name="hri_distance/hri_distance" value="1.5" />
	<param name="hri_distance/distance_x" value="0" />
	<param name="hri_distance/distance_y" value="0" />
	<param name="hri_distance/feedback_delay" value="3" />

	<!--Publish the transform from the camera to the map, so we can use a global system-->	
	<node name="approach_and_go" pkg="tb_self_experimentation" type="approach_and_go" output="screen" launch-prefix="xterm -e"/>
</launch>
