<launch>
	<!-- Reference tag number for the apriltag -->		
	<param name="happy_image" value="/home/chalmers/david_ws/tb_self_experimentation/misc/images/happy.png" />
	<param name="sad_image" value="/home/chalmers/david_ws/tb_self_experimentation/misc/images/sad.png" />
	<param name="flat_image" value="/home/chalmers/david_ws/tb_self_experimentation/misc/images/flat.png" />
	<!-- Actual detection -->	
	<node name="robot_feedback" pkg="tb_self_experimentation" type="robot_feedback"/>
</launch>
