<launch>
	<!-- Parameters -->		
	<param name="hri_distance/hri_logfile" value="hri.csv" />
	<param name="hri_distance/number_experiments_to_learn" value="15" />
	
	<!-- Distance parameters for the version_manager -->
	<param name="hri_distance/hri_distance" value="1.5" />	
	<param name="hri_distance/safe_distance" value="2" />
	<param name="hri_distance/static_distance" value="2" />
	<param name="hri_distance/learned_max_distance" value="5" />
	<param name="hri_distance/learned_min_distance" value="0.5" />
	<param name="hri_distance/initial_max_distance" value="5" />
	<param name="hri_distance/initial_min_distance" value="0.5" />
	

	<!-- Self-experimentation nodes -->
		<node name="version_manager" pkg="tb_self_experimentation" type="version_manager.py" launch-prefix="xterm -e"/>
		<node name="effector" pkg="tb_self_experimentation" type="effector.py" launch-prefix="xterm -e"/>
		<node name="experiment_coordinator" pkg="tb_self_experimentation" type="experiment_coordinator.py" launch-prefix="xterm -e"/>
		<node name="feedback" pkg="tb_self_experimentation" type="feedback.py" launch-prefix="xterm -e"/>
		<node name="metric_analysis" pkg="tb_self_experimentation" type="metric_analysis.py" launch-prefix="xterm -e"/>
		<node name="stop_experiment" pkg="tb_self_experimentation" type="stop_experiment.py" launch-prefix="xterm -e"/>
</launch>
