<launch>
	<!-- Location of the images -->		
	<param name="hri_distance/happy_image" value="/home/david/david_ws/src/tb_approach/misc/images/happy.png" />
	<param name="hri_distance/sad_image" value="/home/david/david_ws/src/tb_approach/misc/images/sad.png" />
	<param name="hri_distance/flat_image" value="/home/david/david_ws/src/tb_approach/misc/images/flat.png" />

	<!-- Node -->	
	<node name="robot_feedback" pkg="tb_approach" type="robot_feedback"/>
</launch>
