<launch>
	<!-- Define the machine nodes and users -->
	<machine name="tb" address="192.168.1.147" env-loader="/opt/ros/indigo/env.sh" user="chalmers"/>
	<machine name="basestation" address="192.168.1.171" env-loader="/opt/ros/indigo/env.sh" user="davidis"/>
	
	<!-- Launching the basestation -->
	<include file = "$(find tb_self_experimentation)/launch/include/mapping_basestation.launch" />
	
	<!-- Launching the turtlebot -->
	<include file = "$(find tb_self_experimentation)/launch/include/mapping_tb.launch" />

</launch>
